.about-us{
    background: url("../images/about-us-bg.png") no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(15,95,92,0.8);
    background-size: cover;
    &__caption{
        padding: 255px 0 165px;
        text-align: center;
        width: 75%;
        margin: 0 auto;    
    }
    &__header{
        font-size: 50px;
        font-family: "RobotoLight";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        margin-bottom: 20px;
    }
}
.green-btn{
    display: inline-block;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    border-radius: 2px;
    border: 0;
    background-color: rgb(111, 176, 72);
    padding: 20px 30px;
    cursor: pointer;
}