@import 'masthead-bg';
@import 'flex';
.masthead-about-us{
    @include masthead-bg("../images/about-us-bg.png");
    &__caption{
        padding: 255px 0 165px;
        text-align: center;
        width: 75%;
        margin: 0 auto;    
    }
    &__header{
        font-size: 50px;
        font-family: "RobotoLight";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        margin-bottom: 20px;
    }
}
.about-us{
    &__content{
        padding: 100px 0 105px;
    }
    &__best-features{
        @include flex(space-between);
        margin-top: 100px;
    }
}