.masthead-map{
    &__content{
        width: 100%;
        height: 65vh;
    }
}

.feedback{
    &__content{
        padding: 85px 0 105px;
    }
    &__info{
        @include flex(space-around);
    }
    &__form{
        width: 47%;
    }
    &__form-item{
        display: block;
        border: 1px solid rgb(193, 211, 210);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
        font-size: 14px;
        font-family: "RobotoReguar";
        color: rgb(131, 167, 165);
        line-height: 1;
        padding: 16px 0 16px 20px;
        width: 100%;
        margin-bottom: 25px;
        outline: none;
    }
    &__send-message-button{
        &_green{
            background-color: rgb(111, 176, 72);
        }
        &_green:hover{
            border: 2px solid rgb(111, 176, 72);
            color: rgb(111, 176, 72);
            background-color: transparent;
        }
    }
    .headquarter{
        width: 30%;
        padding: 40px 40px 60px;
        border: 2px dashed rgb(193, 211, 210);
        background-color: rgb(255, 255, 255);
        margin-bottom: 135px;
        font-family: "RobotoRegular";
        font-size: 15px;
        &__content{
            width: 50%;
        }
        &__header{
            font-size: 22px;
            font-family: "RobotoLight";
            color: rgb(15, 95, 92);
            text-transform: uppercase;
            line-height: 0.955;
        }
        &__address{
            color: rgb(131, 167, 165);
            line-height: 1.4;
            margin: 30px 0;
        }
        &__address::before{
            content: "\f456";
            font-family: "Icons";
            font-size: 15px;
            margin-right: 15px;
            color: rgb(111, 176, 72);
        }
        &__phone-number{
            color: rgb(131, 167, 165);
        }
        &__phone-number::before{
            content: "\f4b9";
            font-family: "Icons";
            font-size: 15px;
            margin-right: 15px;
            color: rgb(111, 176, 72);
        }
        &__email{
            color: rgb(15, 95, 92);
        }
        &__email::before{
            content: "\f132";
            font-family: "Icons";
            font-size: 15px;
            margin-right: 15px;
            color: rgb(111, 176, 72);
        }
    }
}