@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova/ProximaNova-Bold.#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova/ProximaNova-Bold.eot') format('eot'),
    url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('ttf'),
	url('../fonts/ProximaNova/ProximaNova-Bold.svg') format('svg');
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Light.ttf');
}