doctype html
head
  meta(charset='utf-8')
  title Contact us
  meta(name='viewport', content='initial-scale=1')
  link(rel='stylesheet', type='text/css', href='styles/main.css')
  link(rel='stylesheet', type='text/css', href='styles/about-us.css')
section.header
  .container.header__content
    .header__left
        .header__company-name Wapik
        .header__phone-number
            span.header__phone-icon &#xf4b8;
            |+62 202 555 0117
    .header__right
        .header__navigation.navigation
        ul.navigation
            li.navigation__item
                a.link(href='index.html') Home
            li.navigation__item
                a.link(href='about-us.html') About us
            li.navigation__item
                a.link(href='pricing.html') Pricing
            li.navigation__item
                a.link(href='contact-us.html') Contact us
        button.header__get-started-button.button(name='Get started',value='Get started') Get started
section.about-us
    .container.about-us__content
        .about-us__caption
            .about-us__header Cras justo odio, dapibus ac facilisis in egestas eget quam
            a.about-us__learn-more-button.green-btn.link(href="") Start your free trial